@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --light-cyan:  hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue:hsl(217, 19%, 38%);
  --dark-grayishblue: hsl(217, 19%, 24%);
  --dark-blue:hsl(218, 23%, 16%);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Manrope', sans-serif;
  background-color: var(--dark-blue);
}

